#card-view {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
  gap: 2rem;
  margin: 0;
  background: #151515;
}

#nossos-produtos {
  background-color: #151515;
  padding: 2rem;
  color: #f8f9fa;
  text-align: center;
}

.card-view {
  margin: 0 !important;
  background-color: #f8f9fa;
  width: 240px;
}

.card-collection img {
  align-self: center;
  width: 200px;
  object-fit: cover;
  height: 190px;
}

.card-collection {
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  margin: 0 !important;
  padding: 12px;
}

.product-info {
  padding: 1.4rem;
  align-items: center;
  text-align: center;
}

.discount-offer {
  text-decoration: line-through;
}

.card-view-action {
  text-align: center;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
}

.card-view-action .card-link {
  background-color: rgb(255, 255, 255);
  margin: 7px;
  width: 13rem;
  border: 1px solid #757575;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 2rem;
}

.card-view-action .card-link-buy {
  background-color: #f8fe01;
  margin: 7px;
  width: 13rem;
  border: 2px solid #525252;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 2rem;
}

.card-link-buy:hover,
.card-link:hover {
  background-color: #ccc;
  transition: 0.24s ease-in-out;
}

.card-text,
.cart-title {
  text-align: center;
  inline-size: 200px;
  overflow: hidden;
}

@media (max-width: 350px) {
  .card-text,
  .cart-title {
    text-align: center;
    inline-size: 100%;
    overflow: hidden;
  }
  .card-view-action .card-link {
    width: 90%;
  }
  
  .card-view-action .card-link-buy {
    width: 90%;
}


@media (max-width: 350px) {
    .card-view-action .card-link-buy {
      width: 90%;
  }


  @media (max-width: 350px) {

    .card-view-action .card-link {
      width: 90%;
    }
}

@media (max-width: 350px) {
.card-collection img {
    align-self: center;
    width: 150px;
    object-fit: contain;
    height: 190px;
  }
}