.content-card {
  background-color: #f8f9fa;
  padding-top: 2rem;
  border-top: 4px solid #151515;
  text-align: center;
  align-items: center;
}

.footer-body {
  display: grid;
  justify-content: center;
  gap: 2rem;
  margin: 2rem;
  text-align: center;
}

@media screen and (min-width: 670px) {
  .footer-body {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
  }
}

.logo-footer {
  display: flex;
  justify-content: space-around;
}

.assinatura {
  color: #151515;
}

.assinatura:hover {
  transition: 0.6s;
  color: rgb(193, 196, 11);
}
