.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #555555;
}
.container-fluid img {
  width: 80px;
}

.container-fluid .nav-link {
  border-radius: 20px;
  color: #151515;
}

.dropdown-item:hover {
  background-color: #ccc;
  color: #f8f9fa;
  transition: 0.5s ease-in-out;
}

.container-fluid .nav-link:hover {
  background-color: #ccc;
  color: #121212;
  border-radius: 20px;
}

.d-flex button:hover {
  background-color: #ccc;
  color: #151515;
}

#seucarrinho {
  padding: 15px 15px 15px 15px;
  margin-right: 1rem;
  border: 1px solid #151515;
  border-radius: 50%;
  font-weight: bold;
  background-color: transparent;
}

#seucarrinho img,
#logar-conta img {
  width: 20px;
  height: 20px;
  color: #fff;
}

#logar-conta {
  background-color: #f8fe01;
  border: 1px solid #1515159f;
  border-radius: 50%;
  padding: 15px 15px 15px 15px;
  margin-right: 2rem;
  font-weight: bold;
}

#seucarrinho:hover,
#logar-conta:hover {
  background-color: #ccc;
  color: #121212;
  transition: 0.24s ease-in-out;
}

.btn-outline-dark {
  border-radius: 2rem;
}
