#nosso-time {
  background-color: #f8f9fa;
  padding: 2rem;
  color: #151515;
  text-align: center;
}

@media (min-width: 768px) {
  .card-time {
    padding: 1rem 8rem 0 8rem;
  }

  .team-member-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1400px) {
  .team-member-card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.team-member-card {
  justify-content: center;
  text-align: center;
  display: grid;
  gap: 2rem;
  margin: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.team-member-card img {
  width: 150px;
  border: 5px solid #151515;
  border-radius: 50%;
  background-color: #f9fd00;
}

.member-biography {
  padding: 1rem 2rem 1rem 2rem;
}

.member-name {
  font-weight: bold;
  font-size: 20px;
}
