@media (max-width: 768px) {
    #quem-somos {
        padding: 2rem;
    }
}

@media (min-width: 768px) {
    #quem-somos {
        padding: 8rem;
    }
    .card-apresentacao {
        margin: 2rem 5rem 2rem 5rem;
        margin-top: 2rem;
    }
}

#quem-somos {
    background-color: #151515;
    color: #f8f9fa;
    text-align: center;
}

#quem-somos img{
    width: 150px;
}

.card-apresentacao-dados h3 {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(249, 253, 0));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.card-apresentacao {
    margin-top: 2rem;
}
